body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: green;
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: 2px dashed red;
}