.container {
    background-color: green;
    width: 350px;
    height: 220px;
    margin: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border-radius: 50%;
    border-style: dashed;
    border-color: red;
    border-width: 2px;
}